@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  --color-blue-900: #13183f;
  --color-blue-600: #666ca3;
  --color-pink-600: #f74780;
  --color-pink-300: #ffa7c3;
  --color-grey: #83869a;
  --color-white: #fff;
  --gradiant-pink: linear-gradient(hsl(13, 100%, 64%), hsl(332, 87%, 55%));
  --gradiant-purple: linear-gradient(hsl(237, 100%, 64%), hsl(322, 87%, 55%));
  --fs-1: clamp(2.5rem, -0.7451923076923075rem + 6.41025641025641vw, 4.0625rem);
  --fs-2: clamp(2rem, 0.9615384615384615rem + 2.051282051282051vw, 2.5rem);
  --fs-3: clamp(1.5rem, 0.46153846153846145rem + 2.051282051282051vw, 2rem);
  --fs-4: clamp(1.25rem, 0.7307692307692307rem + 1.0256410256410255vw, 1.5rem);
  --fs-5: 1.125rem;
  --fs-6: clamp(0.875rem, 0.6153846153846154rem + 0.5128205128205128vw, 1rem);
  --fs-7: 1.125rem;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  margin: 0;
}
h1,
h2,
h3 {
  line-height: 1.2;
  font-weight: 800;
  margin: 0;
}
a {
  text-decoration: none;
}
p {
  max-width: 35ch;
  color: var(--color-grey);
  line-height: 1.5;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
img.logo:hover {
  opacity: 0.75;
}
img.logo {
  transition: opacity 150ms ease-in-out;
}
main {
  overflow-x: clip;
}
/***** Header *****/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 16px;
}
/* Mobile */
.wrapper {
  padding-inline: 20px; /*left & right*/
}
@media (width <= 50.625em) {
  .logo {
    width: 4.955625rem;
  }
}
.logo {
  width: 4.955625rem;
}
/* Tablet */
@media (width >= 50.625em) {
  .wrapper {
    padding-inline: 44px;
  }
  .header {
    padding-block: 24px;
  }
  .logo {
    width: 4.955625rem;
  }
}
/* PC */
@media (width >= 75em) {
  .wrapper {
    margin-inline: auto;
    padding-inline: 0;
    max-width: 70em;
  }
  .header .logo {
    width: 6.9375rem;
  }
}

/***** End Header *****/
/***** Button *****/
.button {
  display: inline-block;
  font-size: var(--fs-7);
  font-weight: 700;
  line-height: 1.5;
  padding: 10.5px 24px;
  border-radius: 28px;
  transition: 150ms ease-in-out;
  transition-property: background, opacity;
}
.button.dark {
  background: var(--color-blue-900);
  color: var(--color-white);
}
.button.dark:hover {
  background-color: var(--color-blue-600);
}
/* PC */
@media (width >= 75em) {
  .button {
    padding: 16px 32px;
  }
}

/***** End Button *****/
/***** HERO *****/
.hero {
  display: grid;
  row-gap: 48px;
  padding-block: 64px;
}

.hero h1 {
  font-size: var(--fs-1);
  color: var(--color-blue-900);
}

.hero p {
  color: var(--color-grey);
  margin-block: 24px 40px;
}

.hero picture {
  max-width: 37.5rem;
  justify-self: center;
  margin-inline: -20px;
  pointer-events: none;
}

@media (min-width: 50.625em) {
  .hero {
    grid-template-columns: repeat(2, 1fr);
    position: relative;
  }

  .hero__text {
    padding-block: 42px;
  }

  .hero picture {
    max-width: none;
    position: absolute;
    right: 0;
    translate: 42% -24%;
    margin-inline: 0;
  }
}

@media (width >= 75em) {
  .hero picture {
    max-width: 65rem;
    translate: 47% -27%;
  }

  .hero__text {
    padding-block: 110px;
  }
}

.button.pink {
  background: var(--gradiant-pink);
  color: var(--color-white);
}
.button.pink:hover {
  opacity: 0.5;
}
/***** End HERO *****/

/***** courses *****/
.courses {
  background: linear-gradient(#fff, #f0f1ff 20%);
  padding-block: 64px 80px;
}
.courses .wrapper {
  display: grid;
  row-gap: 60px;
}
.courses img {
  position: absolute;
  top: 0;
  translate: 32px -50%;
}
.courses .block {
  padding: 64px 32px 40px;
  border-radius: 15px;
}
.courses .block.title {
  padding: 32px;
  background: var(--gradiant-pink);
  color: var(--color-white);
}
.courses h2 {
  font-size: var(--fs-3);
}
.courses h3 {
  font-size: var(--fs-4);
}
.courses p {
  font-size: var(--fs-5);
  margin: 0;
}
.courses a {
  font-size: var(--fs-7);
  font-weight: bold;
  color: var(--color-pink-600);
  transition: opacity 150ms ease-in-out;
  align-self: end;
}
.courses a:hover {
  opacity: 50%;
}
.courses .course {
  background: var(--color-white);
  position: relative;
  display: grid;
  gap: 24px;
  grid-template-rows: min-content 1fr min-content;
}

/* Tablette */
@media (min-width: 50.625em) {
  .courses .wrapper {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
  }
  .courses .block.title {
    padding-block-start: 64px;
  }
}
/* Desktop */
@media (width >= 75em) {
  .courses .wrapper {
    grid-template-columns: repeat(3, 1fr);
    gap: 84px 32px;
  }
}
/***** End courses *****/

/***** FOOTER *****/
.footer {
  background-color: var(--color-blue-900);
  padding-block: 24px 20px;
}
.footer .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button.purple {
  background: var(--gradiant-purple);
  color: var(--color-white);
}
.button.purple:hover {
  opacity: 0.5;
}

/***** End FOOTER *****/
